<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="shortcut icon" href="/img/logo/logo-low.png" />
    <link rel="stylesheet" href="/css/config/variables.css" />
    <link rel="stylesheet" href="/css/config/font.css">
    <link rel="stylesheet" href="/css/includes/top-line.css" />
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <div class="page-container">
      <%- include("../includes/top-line.ejs") %>
      <div class="top"></div>
      <div class="bottom"></div>
      <!-- ---------------------------- -->
      <div class="login-wrapper">
        <div class="logo-wrapper"> 
          <img src="/img/logo/logo-low.png" alt="" />
        </div>

        <div class="input-wrapper">
          <input type="text" placeholder="username" id="usernameInput" />
          <div class="password-input-wrapper">
            <div class="icon-wrapper">
              <i class="fa-solid fa-eye" id="showIcon"></i>
            </div>
            <input type="password" placeholder="password" id="passwordInput" />
          </div>

          <div class="password-input-wrapper">
            <div class="icon-wrapper">
              <i class="fa-solid fa-eye" id="showIcon"></i>
            </div>
            <input type="password" placeholder="confirm password" id="confirmPasswordInput"/>
          </div>

          <label for="#department">
            Department
          </label>
          <select name="department" id="department">
            <option value="it">فناوری اطلاعات</option>
            <option value="eng">فنی مهندسی</option>
          </select>

          <label for="#level">
            User Level
          </label>
          <select name="level" id="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <button id="signUpBtn">Sign Up</button>
        </div>
      </div>
      <!-- ---------------------------- -->
      <div class="alert-wrapper">
        <div class="main-alert">
          <h3 dir="rtl">
            
          </h3>
        </div>
      </div>
    </div>

    <script src="/js/packages/fa.min.js" crossorigin="anonymous"></script>
    <script type="module" src="/js/auth/signup.js"></script>
  </body>
</html>