<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="shortcut icon" href="/img/logo/logo-low.png" />
  <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
  <script type="text/javascript" src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>
  <link rel="stylesheet" href="/css/config/variables.css" />
  <link rel="stylesheet" href="/css/includes/top-line.css" />
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/config/reseter.css" />
</head>

<body>
  <header>
    <div class="menu__btn">
      <img src="/img/icons/icon-menu.png" alt="menu-icon" />
    </div>
    <img class="header__logo" src="/img/logo/logo-low.png" alt="logo-png" />
    <div class="header__profile">
      <span>SE</span>
    </div>
  </header>
  <main>
    <div class="menu">
      <ul class="menu__list">
        <li class="menu__item menu__dashboard">
          <i class="fa-solid fa-house" style="color: #cf564c"></i>
          داشبورد
        </li>
        <div class="divider"></div>
        <li class="menu__item menu__tasks">
          <i class="fa-solid fa-circle-check" style="color: #2c9e66"></i>
          وظایف
        </li>
      </ul>
    </div>

    <div class="container">

    </div>
  </main>

  <div class="overlay hidden">
    <div class="popup__container">
      <!-- <div class="popup--task-content"> -->
      <div class="popup__upside">
        <p class="popup-text">ایجاد وظیفه</p>
        <div class="task__title">
          <p class="title-text">عنوان فعالیت جدید</p>
          <input class="title-input" type="text" placeholder="عنوان فعالیت جدید..." />
          <p class="title-text">توضیحات</p>
          <textarea name="descInput" id="descInput" placeholder="توضیحات"></textarea>
        </div>
        <ul class="options__list">
          <input type="text" data-jdp data-jdp-only-date id="dateInput">

            <i class="fa-solid fa-user fa-xl" style="color: #888888"></i>
            مسئول انجام
          </button>
        </ul>
      </div>
      <div class="popup__downside">
        <button class="cancel__btn">انصراف</button>
        <button class="submit__btn">ثبت</button>
        <!-- onclick="getInputValue()" -->
      </div>
      <!-- </div> -->
    </div>
  </div>

  <script src="https://kit.fontawesome.com/7a20fd358e.js" crossorigin="anonymous"></script>
  <script type="module" src="/js/controller.js"></script>
  <script src="/js/addTask.js"></script>
</body>

</html>