<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="/img/logo/logo-low.png" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/includes/top-line.css" />
    <link rel="stylesheet" href="/css/profile.css" />
</head>
<body>
    <main>
        <div class="page-wrapper">
            <div class="right">
                <ul>
                    <li>
                        <i class="far fa-calendar-check"></i>
                        امور جاری
                    </li>
                </ul>

                <div class="account-box">
                    <img src="/img/profile/profile.jpg" alt="">
                    <div class="info">
                        <span>
                            Sonya Watson
                        </span>
                        <span>
                            واحد IT
                        </span>
                    </div>
                    <button class="logout-btn">
                        خروج
                    </button>
                </div>
            </div>

            <div class="left"></div>
        </div>
    </main>


    <script src="https://kit.fontawesome.com/7a20fd358e.js" crossorigin="anonymous"></script>
</body>
</html>