<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="shortcut icon" href="/img/logo/logo-low.png" />
    <link rel="stylesheet" href="/css/config/variables.css" />
    <link rel="stylesheet" href="/css/includes/top-line.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/config/reseter.css" />
  </head>

  <body>
    <header>
      <div class="btn--menu">
        <img src="/img/icons/icon-menu.png" alt="menu-icon" />
      </div>
      <div class="icon--logo">
        <img src="/img/logo/logo-low.png" alt="logo-png" />
      </div>
      <div class="user-info">
        <span>SE</span>
      </div>
    </header>
    <main>
      <div class="side--menu">
        <ul>
          <li>
            <i class="fa-solid fa-house" style="color: #cf564c"></i>
            داشبورد
          </li>
          <div class="divider"></div>
          <li>
            <i class="fa-solid fa-circle-check" style="color: #2c9e66"></i>
            وظایف
          </li>
        </ul>
      </div>

      <div class="task--view">
        <nav class="task--nav">
          <span class="tasks--title">وظایف</span>
          <ul class="task--nav-items">
            <li class="active--tab">کارهای من</li>
            <li>انجام شده</li>
            <li>تقویم</li>
          </ul>
        </nav>
        <div class="task--view-body">
          <div class="task--body-header">
            <button class="btn--task btn--task-add">
              <i class="fa-solid fa-plus fa-2xs" style="color: #ffffff"></i>
              ایجاد وظیفه
            </button>
            <button class="btn--task btn--task-filter">
              <img src="/img/icons/sort-icon.png" alt="sort-icon" />
              فیلتر نمایش وظایف
            </button>
            <!-- <button class="btn--task btn--task-sort">
              <i
                class="fa-regular fa-bars-sort fa-flip-horizontal"
                style="color: #979797"
              ></i>
              مرتب سازی: پیش فرض
            </button> -->
          </div>
          <span>وظایف امروز (2 مورد)</span>
          <div class="task--container">
            <div class="btn--task-show">
              <div class="task-right">
                <input type="checkbox" />
                <span class="task-title">تیتر تسک</span>
              </div>
              <div class="task-left">
                <div class="assigned">
                  <div class="initial initial-2">CD</div>
                  <div class="initial">AB</div>
                  <div class="initial initial-3">SE</div>
                </div>
                <span class="deadline">3 روز مانده</span>
              </div>
            </div>
            <div class="btn--task-show">
              <div class="task-right">
                <input type="checkbox" />
                <span class="task-title">تیتر تسک</span>
              </div>
              <div class="task-left">
                <div class="assigned">
                  <div class="initial">AB</div>
                  <div class="initial initial-3">SE</div>
                </div>
                <span class="deadline">4 روز مانده</span>
              </div>
            </div>
            <div class="btn--task-show">
              <div class="task-right">
                <input type="checkbox" />
                <span class="task-title">تیتر تسک</span>
              </div>
              <div class="task-left">
                <div class="assigned">
                  <div class="initial initial-3">SE</div>
                </div>
                <span class="deadline">5 روز مانده</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://kit.fontawesome.com/7a20fd358e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
