<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="shortcut icon" href="/img/logo/logo-low.png" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/includes/top-line.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <header>
      <nav class="main--nav">
        <img src="/img/logo/logo-low.png" alt="logo-png" />
      </nav>
    </header>
    <main>
      <div class="side--menu">
        <ul>
          <li>داشبورد</li>
          <li>وظایف</li>
        </ul>
      </div>
      <div class="task--view">
        <nav class="task--nav">
          <span class="tasks--title">وظایف</span>
          <ul class="task--nav-items">
            <li>کارهای من</li>
            <li>تقویم</li>
          </ul>
        </nav>
      </div>
    </main>

    <script
      src="https://kit.fontawesome.com/7a20fd358e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
