.dis-none{
    display: none;
}

.dis-flex{
    display: flex;
}

.dis-block{
    display: block;
}

.passed-deadline{
    background-color: #FFDCDC !important;
}

.remain-deadline{
    background-color: #FEFFCA !important;
}