:root {
  /* Colors */
  --navy: #202f4e;
  --gold: #cfab5d;
  --gold-shadow: #ffca58;
  --red: #e52422;
  --light-red: #ffcdcc;
  --white: #f2f2f2;
  --dark-gray: #22252a;
  --light-d-gray: #373b3e;
  --light-gray: #d1d3d4;
  --gray: #cbcbcb;
  /* ------------------------------------------ */
  --sub-text-white: #a2a2a2;
  /* ------------------------------------------- */
  --transition: all 0.3s ease;
}